@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #26272e;
  color: #636573;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.header, .footer {
  background-color: #1a1b22;
  padding: 20px 40px;
  color: #fdbb23;
}

.footer p:first-child {
  margin-right: 20px;
}

.header__menu {
  list-style: none;
}

.header__menu li {
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.header__menu li:hover {
  transform: scale(1.1);
}

.header__menu li:first-child {
  margin-right: 10px;
}

.header__menu li > a {
  text-decoration: none;
  color: inherit;
}

.content {
  padding: 40px;
  min-height: calc(100vh - 127px);
}

.posts {
  flex-wrap: wrap;
}

.post {
  background: white;
  border-radius: 4px;
  max-width: 350px;
  padding: 20px;
  margin-right: 40px;
  margin-bottom: 40px;
  max-height: 500px;
  overflow: scroll;
}

.post__title {
  font-size: 22px;
  word-break: break-all;
  margin-right: 10px;
}

.post__image {
  max-width: 310px;
  max-height: 200px;
  margin: 10px 0;
}

.post__actions i {
  cursor: pointer;
}

.post__actions i:first-child {
  margin-right: 10px;
}

.form {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  min-width: 600px;
}

.form__field-wrapper {
  margin-bottom: 30px;
}

.form__field-wrapper label, .form__input {
  transition: all .2s ease-in-out;
}

.form__field-wrapper:focus-within label {
  color: #fdbb23
}

.form__field-wrapper:focus-within .form__input {
  border: 1px solid #fdbb23;
}

.form__input {
  border-radius: 4px;
  padding: 12px;
  border: 1px solid #636573;
  outline: none;
}

.form__buttons button:first-child {
  margin-right: 15px;
}

.btn {
  width: 100px;
  padding: 12px 0;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
}

.btn--primary {
  background-color: #fdbb23;
  color: #1a1b22;
  border: 1px solid #fdbb23;
}

.btn--secondary {
  background-color: white;
  color: #1a1b22;
  border: 1px solid #1a1b22;
}